
.pyc
__pycache__
.vscode
.env
*.csv
EURUSD_full_30min.txt
EURUSD_full_1min.txt
/models/sell_signal_models/sell_trials_*
/models/long_signal_models/buy_trials_*
build_config.json
trial.json
/loki
*.joblib
oracle.json
tuner0.json
